!infrastructure/**/**/**/package.json
.cache
.coverage
.eggs
.idea
.licenses.cache.json
.lychee*
.mypy_cache
.pytest_cache
.ruff_cache
.rumdl_cache
.runway
.secrets
.serverless
.terraform
.Trash-*
.venv
.vscode/bookmarks.json
*.egg-info
*.pyc
*.pyo
**/.DS_Store
artifacts/*
build
cdk.out
dist
docs/source/_build
docs/source/apidocs
lychee.md
node_modules
postinstall.js
preuninstall.js
runway/templates/terraform/.terraform-version
src/*
terraform.tfstate.d
tests/fixtures/blueprints/*-result
tests/functional/terraform/**/.terraform-version
tmp/*
